﻿@using EpicockX.Models;
@model IEnumerable<EpicockX.Models.Product>
@{
    ViewData["Title"] = "Catalog";
}
<style>
    .mainColor {
        background-color: #1D1E22;
    }

    li {
        list-style-type: none;
    }

</style>

<div class="d-flex bg-dark text-white border-end border-2 border-black">

    <aside class="w-25 p-4 border-end-2 border-black m-0">
        <h2 class="fw-bold fs-4 mb-4">Sex Toys for Women</h2>
        <ul class="mb-8">
            <li><a href="@Url.Action("Catalog", new { category = "all" })" class="d-block py-2 text-yellow-700">View all products</a></li>
            <li><a href="@Url.Action("Catalog", new { category = "ForHer" })" class="d-block py-2 text-yellow-700">View products for Her</a></li>
            <li><a href="@Url.Action("Catalog", new { category = "ForHim" })" class="d-block py-2 text-yellow-700">View products for Him</a></li>
            <li><a href="@Url.Action("Catalog", new { category = "ForBoth" })" class="d-block py-2 text-yellow-700">View products for Both</a></li>
        </ul>
    </aside>


    <!-- Sezione principale per i prodotti -->
    <main class="w-75 p-4 bg-dark">
        <div class="d-flex justify-content-between align-items-center mb-4">
            <h1 class="fs-1 fw-bold">I nostri Sex Toys</h1>
            <div>
                <span class="fs-6">@Model.Count() risultati</span>
            </div>
        </div>

       <div class="row g-3 p-2">
            @foreach (var product in Model)
            {
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 d-flex align-items-stretch">
                    <div class="card w-100 position-relative">
                        @if (product.ProductImages.Any())
                        {
                            <div class="card-image w-50"> 
                            <img src="@product.ProductImages.First()" class="card-img-top h-48 object-cover " style="width:75%">
                            </div>
                        }
                        <div class="card-body d-flex flex-column bg-black ">
                            <h2 class="card-title fs-4 fw-semibold mb-2 text-light">@product.ProductName</h2>
                            <p class="card-text text-light mb-2 ">@product.ProductDescription</p>
                            <div class="d-flex align-items-center justify-content-between mb-4">
                                <p class="text-white fw-bold">€@product.ProductPrice</p>
                            </div>
                            <button class="button mt-auto w-75 position-absolute bottom-0 start-50 translate-middle-x mb-2">
                                <span class="button-content no-wrap">
                                    <a href="@Url.Action("Details", new { id = product.ProductId })" class="btn text-light w-100">Visualizza Dettagli</a>
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
            }

    </div>
    </main>

</div>

@section Scripts
{
    <script src="./lib/tailwindcss/tailwind.css"></script>
}


   
