@using EpicockX.Models
@model EpicockX.Models.Product


<link rel="stylesheet" href="~/css/Details.css" />
<style>


    .icon-hover:hover {
        border-color: #3b71ca !important;
        background-color: white !important;
        color: #3b71ca !important;
    }

    .icon-hover:hover i {
            color: #3b71ca !important;
    }

    .productImg {
        cursor: pointer;
    }
</style>

<!-- content -->
    <div class="container py-5">
        <div class="row gx-5">
            <aside class="col-lg-6">
                <div class="border rounded-4 mb-3 d-flex justify-content-center">
                    <div>
                        <img id="productMainImg"
                             src="@Model.ProductImages.First()"
                             style="max-width: 100%; max-height: 100vh; margin: auto"
                             class="rounded-4 fit"
                             alt="...">
                    </div>
                </div>
                <div class="row row-cols-12 justify-content-center mb-3">
                    @foreach (var image in Model.ProductImages)
                    {
                        <div class="col m-1">
                            <img 
                                src="@image"
                                class="productImg rounded-2"
                                width="60"
                                height="60"
                                alt="...">
                        </div>
                    }

                </div>
            </aside>
            <main class="col-lg-6">
                <div class="ps-lg-3">
                    <h2 class="title text-dark">
                        @Model.ProductName
                    </h2>
                    <div class="d-flex flex-row my-3">
                        <span class="text-muted">
                            <i class="fas fa-shopping-basket fa-sm mx-1"></i>@Model.ProductQuantity
                            articoli
                        </span>
                        <span class="text-success ms-2">In stock</span>
                    </div>

                    <div class="mb-3">
                        <span class="h5">&euro; @Model.ProductPrice</span>
                        <span class="text-muted">/per item</span>
                    </div>

                    <p>
                        @Model.ProductDescription
                    </p>

                    <div class="row">
                        <dt class="col-3">Marca:</dt>
                        <dd class="col-9">@Model.ProductBrand</dd>

                        <dt class="col-3">Categoria</dt>
                        <dd class="col-9">@Model.ProductCategory</dd>
                    <input id="quantityInput" type="number" class="form-control" value="1" min="1" max="10">
                    </div>
                    <hr />
                    <button id="addToCartBtn" data-id="@Model.ProductId" class="btn btn-primary shadow-0"><i class="me-1 fa fa-shopping-basket"></i> Aggiungi al carrello</button>
                </div>
            </main>
        </div>
    </div>

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#productCarousel').carousel({
                interval: 2000
            });
            $('.carousel').css('transition-duration', '0.5s');

            $('.carousel-control-prev').click(function () {
                $('#productCarousel').carousel('prev');
            });

            $('.carousel-control-next').click(function () {
                $('#productCarousel').carousel('next');
            });

            let addToCartBtn = document.getElementById('addToCartBtn');
            addToCartBtn.addEventListener('click', function (e) {
                e.preventDefault();

                let idProdotto = $(this).data('id');
                let quantity = $('#quantityInput').val();
                let url = '@Url.Action("AddToCart", "Cart")';
                console.log(url + '?id=' + idProdotto + '&quantity=' + quantity + '&returnUrl=' + '@Context.Request.Path');
                window.location.href = url + '?id=' + idProdotto + '&quantity=' + quantity + '&returnUrl=' + '@Context.Request.Path';
            });
        });

        $(document).ready(function () {
            // Gestisce il click su tutte le immagini con classe 'productImg'
            $('.productImg').click(function () {
                // Prende l'attributo 'src' dell'immagine cliccata
                var newSrc = $(this).attr('src');
                // Assegna il nuovo 'src' all'immagine principale con id 'productMainImg'
                $('#productMainImg').attr('src', newSrc);
            });
        });
    </script>
}
