@using EpicockX.Models
@model EpicockX.Models.Product


<link rel="stylesheet" href="~/css/Details.css" />
<style>
    .custom-card {
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        border-radius: 10px;
    }

        .custom-card:hover {
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        }

    .carousel-img {
        height: 400px;
        width: 100%;
        object-fit: cover;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    .carousel-control-prev-icon,
    .carousel-control-next-icon {
        background-color: #000;
        border-radius: 50%;
    }

    .card-body {
        padding: 20px;
    }

    .list-group-item {
  border: 0;
  margin:10px;
        background-color:black;
        color
        :white;
    }

    .btnDetails {
        background-color: #BF9A5C;
        color: black;
    }

    .main {
        background-image: url(../assets/images/banner/SfondoIndex.jpg);
    }

    #quantityInput {
        background-color: black;
        color: white; 
        border: 2px solid black; 
        border-radius: 5px; 
        padding: 5px 10px; 
    }

        #quantityInput:focus {
            border-color: #BF9A5C; 
            box-shadow: 0 0 5px rgba(191, 154, 92, 0.5); 
        }
  
</style>

<div class="container py-10 ">
    <div class="card custom-card w-50 mx-auto  border-0">
        <!-- Inizio Carosello -->
        <div id="productCarousel" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                @foreach (var image in Model.ProductImages)
                {
                    <div class="carousel-item @(image == Model.ProductImages.First() ? "active" : "")">
                        <img src="@image" class="d-block w-100 carousel-img" alt="...">
                    </div>
                }
            </div>
            <a class="carousel-control-prev" href="#productCarousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Precedente</span>
            </a>
            <a class="carousel-control-next" href="#productCarousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Successivo</span>
            </a>
        </div>
        <!-- Fine Carosello -->
        <div class="card-body text-center bg-dark text-white p-4">
            <h5 class="card-title fs-4">@Model.ProductName</h5>
            <p class="card-text">@Model.ProductDescription</p>
            <ul class="list-group list-group-flush">
                <li class="list-group-item border-0">Categoria: @Model.ProductCategory</li>
                <li class="list-group-item border-0">Marca: @Model.ProductBrand</li>
                <li class="list-group-item border-0">
                    Quantità:
                    <input id="quantityInput" type="number" class="form-control" value="1" min="1" max="10">
                </li>
                <li class="list-group-item border-0">Prezzo: @Model.ProductPrice.ToString("C")</li>
            </ul>
            <button id="addToCartBtn" data-id="@Model.ProductId" class="btn btn-primary mt-2">Aggiungi al carrello</button>
        </div>
    </div>
</div>




@section Scripts {
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#productCarousel').carousel({
                interval: 2000
            });
            $('.carousel').css('transition-duration', '0.5s');

            $('.carousel-control-prev').click(function () {
                $('#productCarousel').carousel('prev');
            });

            $('.carousel-control-next').click(function () {
                $('#productCarousel').carousel('next');
            });

            let addToCartBtn = document.getElementById('addToCartBtn');
            addToCartBtn.addEventListener('click', function (e) {
                e.preventDefault();

                let idProdotto = $(this).data('id');
                let quantity = $('#quantityInput').val();
                let url = '@Url.Action("AddToCart", "Cart")';
                console.log(url + '?id=' + idProdotto + '&quantity=' + quantity + '&returnUrl=' + '@Context.Request.Path');
                window.location.href = url + '?id=' + idProdotto + '&quantity=' + quantity + '&returnUrl=' + '@Context.Request.Path';
            });
        });
    </script>
}
