@model List<Product> 

@{
    Layout = null;
}

@if (Model != null && Model.Count > 0)
{
    <div>Articoli nel carrello: @Model.Count</div>
    <p class="text-center p-3 text-white">Prodotti selezionati da acquistare</p>
    @foreach (var i in Model) {
    <ul class="list-unstyled border-top">
        <li class="py-2 border-bottom">
            <div class="d-flex justify-content-between align-items-center">
                <div class="d-flex align-items-center">
                    <img src="#" alt="Product Image" class="h-10 w-10">
                    <div class="ms-2">
                        <p class="font-weight-bold text-gray-300 mb-0">@i.ProductName</p>
                        <p class="text-gray-400 mb-0">@i.ProductQuantity</p>
                    </div>
                </div>
                <p class="font-weight-bold">@i.ProductPrice</p>
            </div>
        </li>
        <!-- Aggiungi altri articoli qui -->
    </ul>
    }
    <div class="d-flex justify-content-between align-items-center mt-4">
        <p><span class="text-white">Totale:</span> <span class="text-white">@Model.Sum(p => p.ProductPrice) </span></p>
        <button class="btn btn-success w-100">Procedi all'acquisto</button>
    </div>
}
else
{
    <div>Il carrello è vuoto.</div>
}
    