@using EpicockX.Models;
@model IEnumerable<Product>
@{
    ViewData["Title"] = "Cart";
}

@{
}

<section class="bg-white py-8 antialiased">
    <div class="container-xl px-4 px-xxl-0">
        <h2 class="text-xl fw-semibold text-gray-900 sm:text-2xl">Shopping Cart</h2>

        <div class="row mt-6 gap-6">
            <div class="col">
                <!-- carrello -->
                @foreach (var product in Model)
                {
                    <div class="rounded border border-gray-200 bg-white p-4 shadow-sm mb-4">
                        <div class="space-y-4 md:flex md:items-center md:justify-between md:gap-6 md:space-y-0">
                            <div class="flex items-center justify-between md:order-3 md:justify-end">
                                <div class="flex items-center">
                                    <img src="@product.ProductImages.FirstOrDefault()" alt="Alternate Text" />
                                </div>
                                <div class="text-end md:order-4 md:w-32">
                                    <p class="text-base fw-bold">$@product.ProductPrice.ToString("N2")</p>
                                </div>
                            </div>
                            <div class="w-100 min-w-0 flex-1 space-y-4 md:order-2 md:max-w-md">
                                <p class="text-base fw-medium text-decoration-none hover-underline">@product.ProductName</p>
                                <p class="text-base fw-medium text-decoration-none hover-underline">@product.ProductDescription</p>

                                <a asp-controller="Cart" asp-action="RemoveFromCart" asp-route-productId="@product.ProductId" asp-route-returnUrl="@Context.Request.Path" asp-route-quantity="1" class="btn btn-danger mt-2">Rimuovi dal carrello</a>


                            </div>
                        </div>
                    </div>
                }
            </div>

            <div class="col mt-6">
                <div class="rounded border border-gray-200 bg-white p-4 shadow-sm sm:p-6">
                    <p class="text-xl fw-semibold text-gray-900">Order summary</p>
                    <div class="space-y-4">
                        <div class="d-flex items-center justify-content-between gap-4 border-top border-gray-200 pt-2">
                            <div class="text-base fw-bold text-gray-900">Total</div>
                            <div>
                                <div class="text-base fw-bold text-gray-900">$@Model.Sum(x => x.TotalPrice).ToString("N2")</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


